USE [ProyectoFinal2]
GO
/****** Object:  Table [dbo].[Amistades]    Script Date: 4/7/2023 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amistades](
	[IdUsuario] [int] NULL,
	[IdUsuario2] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 4/7/2023 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] NOT NULL,
	[NombreCategoria] [varchar](50) NULL,
	[Imagen] [varchar](50) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colaborador_x_Evento]    Script Date: 4/7/2023 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colaborador_x_Evento](
	[IdUsuario] [int] NOT NULL,
	[IdEvento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 4/7/2023 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Fecha] [datetime] NULL,
	[Precio] [float] NULL,
	[Participantes] [float] NULL,
	[Descripcion] [varchar](50) NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Publico] [bit] NULL,
	[EdadMinima] [float] NULL,
	[EdadMaxima] [float] NULL,
	[ImagenEvento] [varchar](max) NULL,
	[idCategoria] [int] NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitado_x_evento]    Script Date: 4/7/2023 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitado_x_evento](
	[IdUsuario] [int] NOT NULL,
	[IdEvento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participante_x_Evento]    Script Date: 4/7/2023 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante_x_Evento](
	[IdUsuario] [int] NOT NULL,
	[IdEvento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 4/7/2023 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](150) NULL,
	[Contrasena] [varchar](150) NULL,
	[Nombre] [varchar](150) NULL,
	[Apellido] [varchar](150) NULL,
	[FechaNacimiento] [datetime] NULL,
	[Genero] [varchar](150) NULL,
	[FechaCreacion] [datetime] NULL,
	[Descripcion] [varchar](max) NULL,
	[Direccion] [varchar](50) NOT NULL,
	[FotoPerfil] [varchar](max) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Amistades] ([IdUsuario], [IdUsuario2]) VALUES (1, 2)
INSERT [dbo].[Amistades] ([IdUsuario], [IdUsuario2]) VALUES (1, 3)
GO
INSERT [dbo].[Categoria] ([IdCategoria], [NombreCategoria], [Imagen]) VALUES (1, N'Juegos de mesa', NULL)
INSERT [dbo].[Categoria] ([IdCategoria], [NombreCategoria], [Imagen]) VALUES (2, N'Fiesta', NULL)
INSERT [dbo].[Categoria] ([IdCategoria], [NombreCategoria], [Imagen]) VALUES (3, N'Deporte', NULL)
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([Id], [Nombre], [Fecha], [Precio], [Participantes], [Descripcion], [Direccion], [Publico], [EdadMinima], [EdadMaxima], [ImagenEvento], [idCategoria]) VALUES (1, N'Fiesta Milagrosa', CAST(N'2023-06-24T00:00:00.000' AS DateTime), 800, 200, N'La mejor joda estilo proyecto X.', N'Guardia Vieja 4000', 1, 16, 30, N'https://cpad.ask.fm/379/040/503/-389996995-1ss3e9t-jmbfo9dgb80758a/original/noche.jpg', 2)
INSERT [dbo].[Evento] ([Id], [Nombre], [Fecha], [Precio], [Participantes], [Descripcion], [Direccion], [Publico], [EdadMinima], [EdadMaxima], [ImagenEvento], [idCategoria]) VALUES (10, N'Partido F11', CAST(N'2023-06-25T11:00:00.000' AS DateTime), 730, 22, N'Partido de futbol 11 vs 11', N'Kdt Salguero', 1, 17, 27, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJR4IA5GHB-bSOmjbdbp8wId-msP_7IMkjmzZhPIAR7q71ybdBWGzdqFByAVQGmN_u7w8&usqp=CAU', 3)
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
INSERT [dbo].[Participante_x_Evento] ([IdUsuario], [IdEvento]) VALUES (1, 2)
INSERT [dbo].[Participante_x_Evento] ([IdUsuario], [IdEvento]) VALUES (2, 2)
INSERT [dbo].[Participante_x_Evento] ([IdUsuario], [IdEvento]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contrasena], [Nombre], [Apellido], [FechaNacimiento], [Genero], [FechaCreacion], [Descripcion], [Direccion], [FotoPerfil]) VALUES (1, N'DominikPoleto', N'1', N'Domingo', N'Sarmiento', CAST(N'2005-12-04T00:00:00.000' AS DateTime), N'M', CAST(N'2023-06-24T00:00:00.000' AS DateTime), N'Un hombre con gustos refinados', N'Buenos Aires', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8TMr2wtoQNaQtJLL0qwWanstbxnJdsSFV5y8V_F4x&usqp=CAE&s')
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contrasena], [Nombre], [Apellido], [FechaNacimiento], [Genero], [FechaCreacion], [Descripcion], [Direccion], [FotoPerfil]) VALUES (3, N'qq', N'123', N'sta', N'asf', CAST(N'1965-11-14T00:00:00.000' AS DateTime), N'Prefiero no decirlo', CAST(N'2023-06-02T11:41:55.707' AS DateTime), N'si', N'asfdan 123', N'https://static.vecteezy.com/system/resources/previews/001/840/612/non_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Colaborador_x_Evento]  WITH CHECK ADD  CONSTRAINT [FK_Colaborador_x_Evento_Evento] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[Evento] ([Id])
GO
ALTER TABLE [dbo].[Colaborador_x_Evento] CHECK CONSTRAINT [FK_Colaborador_x_Evento_Evento]
GO
ALTER TABLE [dbo].[Colaborador_x_Evento]  WITH CHECK ADD  CONSTRAINT [FK_Colaborador_x_Evento_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Colaborador_x_Evento] CHECK CONSTRAINT [FK_Colaborador_x_Evento_Usuario]
GO
ALTER TABLE [dbo].[Invitado_x_evento]  WITH CHECK ADD  CONSTRAINT [FK_Invitado_x_evento_Evento] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[Evento] ([Id])
GO
ALTER TABLE [dbo].[Invitado_x_evento] CHECK CONSTRAINT [FK_Invitado_x_evento_Evento]
GO
ALTER TABLE [dbo].[Invitado_x_evento]  WITH CHECK ADD  CONSTRAINT [FK_Invitado_x_evento_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Invitado_x_evento] CHECK CONSTRAINT [FK_Invitado_x_evento_Usuario]
GO
ALTER TABLE [dbo].[Participante_x_Evento]  WITH CHECK ADD  CONSTRAINT [FK_Participante_x_Evento_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Participante_x_Evento] CHECK CONSTRAINT [FK_Participante_x_Evento_Usuario]
GO
