.card-container {
  margin-top: 25px;
  max-height: 80vh; /* Establece la altura máxima del contenedor */
  max-width: 100%;

}

.categorias {
  max-height: 30%;
}


.fotoperfil{
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  padding: 40px;
}

.card {

 width: 40%;
}

.titulo-evento{
  color: azure;
  margin-bottom: 5%;
  font-size: x-large;
  font-weight: 850;
}



